<mat-form-field appearance="fill">
  <mat-label>Currency</mat-label>
  <mat-select [formControl]="currenciesControl" required (selectionChange)="selectionChangeEvent($event.value)">
    <mat-option *ngFor="let item of items" [value]="item.id">
      {{item.name}} {{item.id}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="currenciesControl.hasError('required')">Please choose a currency</mat-error>
<!--  <mat-hint >{{hintTitle}}: {{currenciesControl.value?.id}}</mat-hint>-->
  <mat-hint >{{hintTitle}}: {{currenciesControl.value}}</mat-hint>
</mat-form-field>


<!--<form class="example-form">-->
<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>Currency</mat-label>-->
<!--    <input type="text"-->
<!--           aria-label="Currency"-->
<!--           matInput-->
<!--           [formControl]="currenciesControl"-->
<!--           [matAutocomplete]="auto">-->
<!--    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">-->
<!--      <mat-option *ngFor="let item of items" [value]="item.Description">-->
<!--        {{item.Name}} {{item.Description}}-->
<!--      </mat-option>-->
<!--    </mat-autocomplete>-->
<!--  </mat-form-field>-->
<!--</form>-->
