app-ui-bar-graph {
  #chart {
    height: inherit;
    width: inherit;
    min-height: 480px;
    .bar {
      fill: steelblue;
    }

    .bar:hover {
      fill: brown;
    }

    .axis--x path {
      display: none;
    }
  }
}
