<p>converter works!</p>
<!--<div class="example-container" appearance="outline">-->
<!--  <mat-form-field appearance="outline">-->
<!--    <label>-->
<!--      <input matInput type="number" class="example-right-align">-->
<!--    </label>-->
<!--    <span matPrefix>$&nbsp;</span>-->
<!--    <span matSuffix>.00</span>-->
<!--  </mat-form-field>-->
<!--  <mat-form-field appearance="outline">-->
<!--    <mat-select>-->
<!--      <mat-option value="option">Option</mat-option>-->
<!--    </mat-select>-->
<!--  </mat-form-field>-->
<!--</div>-->
<!--<pre>{{items | json}}</pre>-->


<form [formGroup]="form">
  <div formArrayName="currency">
    <div *ngFor="let item of currency.controls; let i=index" class="d-flex just-center">
      <mat-form-field appearance="outline">
        <label>
          <input matInput type="number" class="example-right-align" [formControlName]="i" [formControl]="item">
        </label>
        <!--      <span matPrefix>$&nbsp;</span>-->
        <!--      <span matSuffix>.00</span>-->
      </mat-form-field>

<!--      <mat-form-field appearance="outline">-->
<!--        <mat-select>-->
<!--          <mat-option value="option">Option</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
    </div>
    <button (click)="addNewCurrency()">+ Add Currency</button>
  </div>
</form>
